<template>
  <footer>
    <div class="container">

      <!-- eslint-disable-next-line vue/no-v-html -->
      <span v-once v-html="footer" /> ·
      <a
        target="_blank"
        href="https://framagit.org/framasoft/peertube/instances-peertube"
      >
        Hack this website!
      </a>
    </div>
  </footer>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  data() {
    return {
      footer: import.meta.env.VITE_APP_FOOTER
    }
  }
})
</script>

<style scoped>
  footer {
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-color: #f8f9fa;

    font-size: 0.7em;
    text-align: center;
  }

  p {
    color: lightgreen;
    text-align: center;
  }

  a {
    color: #f2690d;
  }
</style>
