<template>
  <canvas :id="name" />
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue'
import {
  Chart,
  ChartData,
  ChartConfiguration,
  TooltipItem,
  LineController,
  CategoryScale,
  LinearScale,
  PointElement,
  LineElement,
  Filler,
  Tooltip,
  Legend,
ChartDataset
} from 'chart.js'
import { formatBytes, formatNumber } from '@/shared/utils.js'

export default defineComponent({
  props: {
    name: String,
    type: String as PropType<'bytes' | 'number'>,
    data: Object as PropType<ChartData<'line'>>
  },

  mounted () {
    Chart.register(LineController, CategoryScale, LinearScale, PointElement, LineElement, Filler, Tooltip, Legend)

    const yLeftDataset = this.data.datasets.find(d => d.yAxisID !== 'y-right')
    if (!yLeftDataset) throw new Error('Needs a left dataset')

    const config: ChartConfiguration = {
      type: 'line' as const,
      data: this.data,
      options: {
        responsive: true,
        plugins: {
          title: {
            display: false
          },
          legend: {
            display: true,
          },
          tooltip: {
            intersect: false,
            callbacks: {
              label: (tooltip: TooltipItem<'line'>) => {
                const value = tooltip.raw as number

                if (this.type === 'bytes') {
                  return formatBytes(value)
                }

                return formatNumber(value)
              }
            }
          }
        },
        scales: {
          x: {
            display: true
          },
          y: this.buildYAxis(yLeftDataset)
        }
      }
    }

    const yRightDataset = this.data.datasets.find(d => d.yAxisID === 'y-right')
    if (yRightDataset) {
      config.options.scales['y-right'] = this.buildYAxis(yRightDataset, 'right')
    }

    new Chart(
      document.getElementById(this.name) as HTMLCanvasElement,
      config
    )
  },

  methods: {
    buildYAxis (dataset: ChartDataset<'line'>, position?: string) {
      return {
        min: 0,
        max: this.getYMax(dataset),
        position,
        ticks: {
          callback: (value: number) => {
            if (this.type === 'bytes') {
              return formatBytes(value)
            }

            return formatNumber(value)
          }
        }
      }
    },

    getYMax (dataset: ChartDataset<'line'>) {
      const max = Math.max(...dataset.data as number[])

      return max * 1.4
    }
  }
})
</script>
