<template>
  <div>
    <div class="container flex">
      <div class="row justify-content-center align-items-center">
        <div class="col-12 col-sm-10 col-md-7">
          <div
            v-if="err"
            class="alert alert-danger"
          >
            {{ err }}
          </div>

          <div
            v-if="successForHost"
            class="alert alert-success"
          >
            <router-link :to="'/instances?search=' + successForHost">
              {{ successForHost }}
            </router-link> has been successfully added.
          </div>
        </div>
      </div>

      <div class="row justify-content-center align-items-center">
        <div class="col-12 col-sm-10 col-md-7">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                Add your instance
              </h5>
              <form @submit="onSubmit">
                <div class="mb-3 mt-4">
                  <div class="input-group">
                    <span class="input-group-text">https://</span>

                    <input
                      id="host"
                      v-model="host"
                      class="form-control"
                      type="text"
                      name="host"
                      placeholder="domain.tld"
                    >
                  </div>
                </div>

                <div class="text-end">
                  <input
                    :disabled="loading === true"
                    class="btn btn-primary"
                    type="submit"
                    value="Add instance"
                  >
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { addInstance } from '../shared/instance-http.js'
import { httpErrorToString } from '../shared/utils.js'
import { defineComponent } from 'vue'

export default defineComponent({
  data () {
    return {
      host: '',
      err: '',
      successForHost: '',
      loading: false
    }
  },

  methods: {
    onSubmit (event: Event) {
      event.preventDefault()

      this.loading = true
      this.err = ''
      this.successForHost = ''

      addInstance(this.host)
        .then(() => {
          this.loading = false
          this.successForHost = this.host
          this.host = ''
        })
        .catch(async err => {
          this.loading = false
          this.err = await httpErrorToString(err)
        })
    }
  }
})
</script>
